body{
    background-color: #ed63;
}
.container{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: transparent;
}
.button{
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin: 2px;
	color: white;
	cursor: pointer;
	background: #335;
}
.button:hover {
	width: 50px;
	height: 50px;
	font-size: 30px;
	border: none;
	color: white;
	cursor: pointer;
	background: #008087;
}
.hasil{
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	font-size: 20px;
	text-align: center;
	background: #eeefff;
	opacity: .7;
}
.number-keys{
	width: 100%;
}